<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<title>Choix modification catéorie</title>
</head>
<div th:replace="navigation::nav"></div>
<body>
	<div class="container">
	<h1>Cliquez sur un bouton pour modifier une catégorie :</h1><br/>
	<h1 class="text-danger"></h1><br/>
		<tbody>
			<tr th:each="categorie : ${ categories }">
				<td><a class="btn btn-primary" th:href="@{'choixModifCategories/modifierCategorie/' + ${categorie.id}}"
					role="button">Modifier : [[${ categorie.nomCategorie }]]</a></td><br/><br/>
			</tr>
		</tbody>
	</div>
</body>
</html>