<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<title>Création d'une étape</title>
</head>
<body>
	<div class="container">
	<h1>Création d'une étape</h1><br/>
		<form method="POST">
			<div class="form-group row">
				<label for="content" class="col-sm-2 col-form-label">Contenu</label>
				<div>
				<textarea class="form-control"  id="content" name="content" required></textarea>
				</div>
			</div>
			<a href="createEtape.html" class="btn btn-primary" role="button">Rajout d'une étape</a> 
			<a href="home.html" class="btn btn-danger" role="button">Fin</a>
		</form>
	</div>
</body>
</html>