<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Accueil</title>
<meta charset="UTF-8" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>

<div th:replace="navigation::nav"></div>

<body>
	<div class="container">
		<h1>Accueil</h1>
		<p>Voici les différentes catégories d'origami :</p>
		<tbody>
			<tr th:each="categorie : ${ categories }">			
				 <td><a th:href="@{origamis(id=${ categorie.id })}">[[${ categorie.nomCategorie }]]</a></td><br/>		
			</tr>
		</tbody>
	</div>
</body>
</html>