<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Se connecter</title>
<meta charset="UTF-8" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
		aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav">
			<a class="nav-item nav-link active" href="home.html">Home <span
				class="sr-only">(current)</span></a> <a class="nav-item nav-link"
				href="login.html">Acces admin</a>
		</div>
	</div>
</nav>

<body>
	<header class="text-center mb-4">
		<h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
	</header>

	<div class="container">
		<div th:if="${ error }" class="alert alert-danger" role="alert">
			Votre nom d'utilisateur ou votre mot de passe est incorrect !</div>

		<form method="POST">
			<div class="form-group row">
				<label for="mail" class="col-sm-2 col-form-label">Nom
					d'utilisateur</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="mail" name="mail"
						placeholder="Nom d'utilisateur" required />
				</div>
			</div>

			<div class="form-group row">
				<label for="password" class="col-sm-2 col-form-label">Mot de
					passe</label>
				<div class="col-sm-10">
					<input type="password" class="form-control" id="password"
						name="password" placeholder="Mot de passe" required />
				</div>
			</div>

			<div class="form-group row">
				<div class="col-sm-10">
					<button type="submit" class="btn btn-primary">C'est parti
						!</button>
				</div>
			</div>
		</form>
	</div>
</body>
</html>